.button {
  position: relative;
  text-align: center;
  white-space: nowrap;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  background: #1b6198 none;
  color: #e8eff5;
  font-weight: 700;
  box-shadow: none;
  margin-top: 0;
  height: 38px;
  width: 100%;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  span {
    padding: 0 14px;
  }
  &:active {
    opacity: 0.2;
  }
  &:hover {
    opacity: 0.9;
  }
  &--disabled {
    opacity: 1 !important;
    background: lightgray;
    color: #9a9a9a;
    cursor: default;
  }
  &--secondary {
    background: #242424;
  }
}
