.select {
  height: 28px;
  overflow: hidden;
  &-wrapper {
    width: 295px;
  }
  &__control {
    min-height: 30px !important;
    height: 30px;
    overflow: hidden;
    border: 1px solid #9a9a9a !important;
    border-radius: 2px !important;
    outline: none;
  }
  &__indicators {
    height: 28px;
    border-left: 1px solid #9a9a9a;
  }
  &__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 28px;
    padding: 0 !important;
    &-separator {
      display: none;
    }
  }
  &__value-container {
    height: 28px;
  }
}
