.menu {
  display: flex;
  font-size: 14px;
  white-space: nowrap;
  background: #242424;
  height: 64px;
  color: #bdbdbd;
  & > div {
    flex: 1;
  }
  &-nav {
    display: flex;
    height: 32px;
    justify-content: space-between;
  }
  &-title {
    display: flex;
    align-items: center;
    height: 28px;
    font-weight: 500;
    text-indent: 12px;
    color: white;
    cursor: default;
  }
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    max-width: 76px;
  }
  &-content {
    display: flex;
    flex-direction: column;
  }
  &-group {
    display: flex;
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    text-decoration: none !important;
    color: #bdbdbd;
    border-radius: 2px;
    cursor: pointer;
    span {
      font-weight: 500;
    }
    &.hover:hover {
      background: #646464;
    }
    &:hover:not(.menu-item--disabled) {
      color: white;
      path {
        fill: white;
      }
    }
    &--active {
      background-color: rgba(100, 100, 100, 0.5);
      color: rgba(255, 255, 255, 0.9);
    }
    &--disabled {
      cursor: default !important;
      opacity: 0.6;
    }
  }
}

.parameters {
  &-panel {
    color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    .param {
      &-wrapper {
        display: flex;
      }
      &-col {
        display: flex;
        flex-direction: column;
      }
      &-cell {
        display: flex;
        align-items: center;
        padding: 4px 8px;
        flex: 1;
      }
      &-unit {
        margin-left: 4px;
      }
    }
  }
  &-actions {
    display: flex;
    .button:not(:first-child) {
      margin-left: 14px;
    }
  }
}

.result {
  display: flex;
  flex: 1;
  padding: 14px;
  height: calc(100% - 168px);
  & > div {
    display: flex;
    flex: 1;
  }
  &-map {
    align-items: center;
    justify-content: center;
    .map {
      height: 100%;
    }
  }
  &-table {
    margin-left: 14px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  background-color: white;
}

$help-color-light: rgba(100, 100, 100, 0.4);
$help-color-dark: rgba(100, 100, 100, 0.8);
.help {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0 8px;
  margin-bottom: -2px;
  width: 20px;
  height: 20px;
  color: $help-color-light;
  border: 2px solid $help-color-light;
  border-radius: 50%;
  cursor: help;
  &:hover {
    color: $help-color-dark;
    border-color: $help-color-dark;
  }
}
