$border-color: #b5b5b5;
$table-border: 1px solid $border-color;

.table-wrapper {
  flex: 1;
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

table {
  display: block;
  empty-cells: show;
  border-spacing: 0;
  border: $table-border;
  height: 100%;
  font-size: 14px;
  color: #474747;
  thead {
    background-color: white;
    position: relative;
    display: block;
    width: 100%;
    overflow-y: hidden;
  }
  tbody {
    display: block;
    position: relative;
    width: 100%;
    height: calc(100% - 30px);
    overflow-y: hidden;
    border-top: $table-border;
    tr {
      cursor: pointer;
      &:hover {
        background-color: #d3eaf8 !important;
        color: #0e1920;
      }
      &:nth-child(2n) {
        background-color: #f5f5f5;
      }
    }
  }
  tr {
    width: 100%;
    display: flex;
    td {
      border-bottom: $table-border;
    }
  }
  th {
    white-space: nowrap;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
    cursor: default;
    font-weight: 600;
    max-height: 28px;
  }
  td,
  th {
    flex-basis: 100%;
    flex-grow: 2;
    display: block;
    text-align: left;
    padding: 7px 7px 6px;
    &:not(:last-child) {
      border-right: $table-border;
    }
    &:first-child {
      flex-basis: 30px;
      flex-grow: 1;
    }
  }
}
